{% extends 'base.html' %}

{% block 'content' %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_home' %}">首页</a></li>
        <li class="active">推荐分类管理</li>
    </ol>

    <div class="form-group col-md-12">
        <a href="{% url 'add_work_category' %}" class="btn btn-success">添加分类</a>
    </div>

    <div id="work_categories">
        <table class="table">
            <caption>推荐分类列表</caption>
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="25%">标题</th>
                    <th width="10%">分类</th>
                    <th width="50%">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for work_category in work_categories %}
                    <tr>
                        <td><input type="hidden"  value="{{ work_category.id }}"/>{{ forloop.counter }}</td>
                        <td>{{ work_category.name }}</td>
                        <td>{{ work_category.type }}</td>

                        <td><a href="/work/manage_category_works?id={{ work_category.id }}" class="btn btn-danger">编辑作品列表</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
