{% extends 'base.html' %}

{% block 'content' %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_home' %}">首页</a></li>
        <li class="active">插屏广告</li>
    </ol>

    <div>
        <table class="table">
            <caption>配置列表</caption>
            <thead>
                <tr>
                    <th>图片</th>
                    <th>链接</th>
                    <th>类型</th>
                    <th>页面</th>
                    <th>TAB</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for index_ad in index_ads %}
                    <tr>
                        <td>
                            <img src="{{ index_ad.cover }}" height="128"/>
                        </td>
                        <td>
                            <span>{{ index_ad.link }}</span>
                        </td>
                        <td>
                            <span>{{ index_ad.link_type }}</span>
                        </td>
                        <td>
                            <span>{{ index_ad.link_page }}</span>
                        </td>
                        <td>
                            <span>{{ index_ad.link_tab }}</span>
                        </td>

                        <td>
                            <a href="/index_ad/modify/{{ index_ad.id }}" class="btn btn-primary">修改</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
