{% extends 'base.html' %}

{% block 'custom_js' %}

    <script>
        $('document').ready(function(){
            $('table tbody').sortable({'revert': true});
            $('.unique-btn').click(function(){
                $('.unique-btn').removeClass('btn-danger');
                $(this).addClass('btn-danger');
            });
        });

        function save_sort(){
            var category = $('#category').val();
            var sorted_data = $('tr.ui-sortable-handle td input');
            var sorted_ids = [];
            for(var i = 0; i < sorted_data.length; i++) {
                sorted_ids.push(sorted_data[i].value);
            }
            var data = {'category': category, 'sorted_ids': sorted_ids.join(',')}
            $.ajax({
                'url' : '/xbase/template_order',
                'type' : 'POST',
                'data' : data,
                'dataType': 'json',
                success : function(data) {
                    window.location.href = '/xbase/edit_template_order/' + category;
                }
            });
        }
    </script>
{% endblock %}

{% block 'content' %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_home' %}">首页</a></li>
        <li class="active">模板查看</li>
    </ol>
    <div class="form-group">
        <div class="col-md-3">
            <a href="{% url 'add_template' %}" class="btn btn-success">添加</a>
        </div>
    </div>

    <div>
        <table class="table">
            <caption>模板列表</caption>
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">视频</th>
                    <!--<th>缩略图</th>-->
                    <!--<th>海报</th>-->
                    <th width="15%">标题</th>
                    <th width="25%">描述</th>
                    <th width="10%">分类</th>
                    <th width="5%">资源包</th>
                    <th width="5%">原价</th>
                    <th width="5%">促销价</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for template in templates %}
                    <tr>
                        <td><input type="hidden"  value="{{ template.id }}"/>{{ forloop.counter }}</td>
                        <td class="video"><video height="128px" src="{{ template.video }}"></video></td>
                        <!--<td class="image"><img height="128px" src="{{ template.thumb }}"/></td>-->
                        <!--<td class="image"><img height="128px" src="{{ template.poster }}"/></td>-->
                        <td>{{ template.title }}</td>
                        <td>{{ template.description }}</td>
                        <td>{{ template.tags }}</td>
                        <td><a href="{{ template.material }}">点击下载</a></td>
                        <td>{{ template.origin_price }}</td>
                        <td>{{ template.on_sale_price }}</td>

                        <!--<td><a href="/template/delete?id={{ template.id }}" class="btn btn-danger" onclick="return confirm('确定要删除该模板？');">删除</a></td>-->
                        <td><a href="/template/modify?id={{ template.id }}" class="btn btn-danger">修改</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if category %}
        <div class="center">
            <button type="button" id="save-sort" class="btn btn-md btn-primary" onclick="save_sort();">已确认排序，点击应用修改</button>
        </div>
        {% endif %}
    </div>

{% endblock %}
