{% extends 'base.html' %}

{% block 'custom_js' %}

    <style>
        #paging > a {
            padding: 0 10px;
        }
        #paging > span {
            padding: 0 10px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#created_start').datetimepicker({'format': 'yyyy-mm-dd', 'autoclose': true, 'minView': 2, 'todayBtn': 'linked', 'todayHighlight': true});
            $('#created_end').datetimepicker({'format': 'yyyy-mm-dd', 'autoclose': true, 'minView': 2, 'todayBtn': 'linked', 'todayHighlight': true});
        });

        function search_works(page){
            var created_start = ($('#created_start').val() || '1970-01-01')+ ' 00:00:00';
            var created_end = ($('#created_end').val() || '9999-12-31') + ' 23:59:59';
            page = page || 1;
            var page_size = $('#page_size_select').val() || 10;
            var template = $('#template').val();

            $.ajax({
                'url' : '/work/retrieve',
                'type' : 'POST',
                'data' : {
                    'created_start' : created_start,
                    'created_end': created_end,
                    'page': page,
                    'page_size': page_size,
                    'template': template
                },
                'dataType' : 'json',
                'content-type' : 'application/json; charset=utf-8',
                success : function(data) {
                    update_works_data(data);
                }
            });
        }

        function update_works_data(data){
            var works_data = data.works;
            var total = data.total;
            if (works_data.length == 0) {
                $('#works').html('没有找到匹配的作品信息');
                $('#paging').hide();
                return;
            }
            var page = $('#page_select').val() || 1;
            var page_size = $('#page_size_select').val();
            var material_html = '<table class="table"><caption>作品列表</caption><thead><tr>';

            material_html += '<th width="5%">序号</th>';
            material_html += '<th width="15%">作品</th>';
            material_html += '<th width="10%">用户名</th>';
            material_html += '<th width="10%">用户手机号/设备号</th>';
            material_html += '<th width="20%">上传时间</th>';
            material_html += '<th width="10%">播放次数</th>';
            material_html += '<th width="10%">被举报次数</th>';
            material_html += '<th width="10%">状态</th>';
            material_html += '<th width="10%">操作</th>';
            material_html += '</tr></thead><tbody>';
            var i = 1;
            works_data.forEach(function(work) {

                material_html += '<tr id="work_' + i + '">';

                material_html += '<td><div>';
                material_html += i + '</div><input type="hidden" id="work_id_' + i + '" value="' + work.id + '"></td>';

                material_html += '<td><a href="' + work.video + '" target="_blank"><video height="128" src="' + work.video + '"';
                //material_html += ' autoplay="autoplay"';
                material_html += ' poster="' + work.poster + '"';
                material_html += ' loop="loop"></video></a>';
                material_html += '<div><span style="height:20px;background-color:#ccc;"><span style="position:relative;">时长：' + (work.duration / 1000) + 's';
                material_html += '<span style="position:relative;padding-left:30px;">尺寸：' + work.width + ' <b>x</b> ' + work.height + '</span>';
                material_html += '</span></div></td>';

                //material_html += '<td><div><span>' + work.id + '</span></div></td>';

                //material_html += '<td><div><span>' + work.author + '</span></div></td>';

                material_html += '<td><div><span>' + work.nickname + '</span></div></td>';
                material_html += '<td><div><span>' + work.tel + '</span></div></td>';

                material_html += '<td><div><span>' + work.created.substr(0, 19) + '</span></div></td>';

                material_html += '<td><div><span>' + (work.pv) + '</span></div></td>';
                material_html += '<td><div><span>' + (work.report) + '</span></div></td>';

                material_html += '<td><div><span>' + (work.status == 'enable' ? '已发布' : '审核下架') + '</span></div></td>';

                // actions
                material_html += '<td><div>';

                material_html += '<div id="recommend_' + i + '" style=';
                material_html += (work.status == 'audit' ? '"display:none;"' : '"display:inline;"');
                material_html += '><button class="btn btn-md btn-danger" onclick="audit_work(' + i + ');">下架</div>';
                material_html += '<div id="cancel_recommend_' + i + '" style=';
                material_html += (work.status == 'audit' ? '"display:inline;"' : '"display:none;"');
                material_html += '><button class="btn btn-md btn-success" onclick="shelve_work(' + i + ');">恢复上架</div>';
                material_html += '</div>';

                material_html += '</td>';

                material_html += '</tr>';

                i++;
            });
            material_html += '</tbody></table>';
            $('#works').html(material_html);

            var paging_html = '<span>共找到' + data['total'] + '条记录, 每页' + data['page_size'] + '条, 共' + data['max_page'] + '页</span>';
            for(var i = 0; i < data['pages'].length; i++) {
                if (data['pages'][i] != '...' && data['pages'][i] != data['page']) {
                    paging_html += '<a href="javascript:search_works(' + "'" + data['pages'][i] + "'" + ');">' + data['pages'][i] + '</a>';
                } else {
                    paging_html += '<span>' + data['pages'][i] + '</span>';
                }
            }
            paging_html += '<button class="btn btn-primary" onclick="export_works();">下载</button>';
            $('#paging').html(paging_html);
            $('#pagingWrapper').show();
        }

        function export_works(){
            var created_start = ($('#created_start').val() || '1970-01-01')+ ' 00:00:00';
            var created_end = ($('#created_end').val() || '9999-12-31') + ' 23:59:59';
            var template = $('#template').val();
            location.href = '{% url "export_works" %}?created_start=' + created_start + '&created_end=' + created_end + '&template=' + template;
        }

        function audit_work(index){
            var work_id = $('#work_id_' + index).val();
            $.ajax({
                'url' : '/work/audit?id=' + work_id,
                'type' : 'GET',
                'dataType' : 'json',
                success : function(data) {
                    if (data.code == 0) {
                        //$('#work_' + index).remove();
                        search_works('1');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

        function shelve_work(index){
            var work_id = $('#work_id_' + index).val();
            $.ajax({
                'url' : '/work/shelve?id=' + work_id,
                'type' : 'GET',
                'dataType' : 'json',
                success : function(data) {
                    if (data.code == 0) {
                        search_works('1');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

    </script>


{% endblock %}

{% block 'content' %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_home' %}">首页</a></li>
        <li class="active">作品管理</li>
    </ol>

    <form id="form" data-toggle="validator">
        {% csrf_token %}

        <!--<div class="form-group col-md-12">-->
            <!--<div class="col-md-4"><a class="btn btn-primary" href="{% url 'recommend_works' %}">查看推荐作品</a> </div>-->
        <!--</div>-->

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <label class="col-md-3">时间</label>
                <input type="text" id="created_start" name="created_start" data-date-format="yyyy-mm-dd" class="datetimepicker col-md-3" />
                <span class="col-md-1 center">_</span>
                <input type="text" id="created_end" name="created_end" data-date-format="yyyy-mm-dd" class="datetimepicker col-md-3" />
            </div>

            <div class="col-md-4">
                <label class="col-md-4">模板：</label>
                <select id="template" name="template" class="select col-md-6 form-leo">
                    <option value="">全部</option>
                    {% for template in templates %}
                        <option value="{{ template.id }}">{{ template.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button type="button" id="search-works" class="btn btn-md btn-primary" onclick="search_works('1');">查找</button>
            </div>

        </div>

    </form>
    <div>
        <div id="works"></div>

        <div id="pagingWrapper" style="display: none;">

            <div class="col-md-3">
                <label class="col-md-4">每页大小：</label>
                <select class="col-md-6 select form-leo" id="page_size_select" onchange="search_works('1');">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div id="paging" class="col-mod-9">

            </div>
        </div>
    </div>


{% endblock %}
