{% extends 'base.html' %}

{% block 'custom_js' %}


    <style>
        #paging > a {
            padding: 0 10px;
        }
        #paging > span {
            padding: 0 10px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#created_start').datetimepicker({'format': 'yyyy-mm-dd', 'autoclose': true, 'minView': 2, 'todayBtn': 'linked', 'todayHighlight': true});
            $('#created_end').datetimepicker({'format': 'yyyy-mm-dd', 'autoclose': true, 'minView': 2, 'todayBtn': 'linked', 'todayHighlight': true});
            search_works();
        });

        function search_works(page){
            var created_start = ($('#created_start').val() || '1970-01-01')+ ' 00:00:00';
            var created_end = ($('#created_end').val() || '9999-12-31') + ' 23:59:59';
            page = page || 1;
            var page_size = $('#page_size_select').val() || 10;
            var template = $('#template').val();

            $.ajax({
                'url' : '/work/retrieve_enable',
                'type' : 'POST',
                'data' : {
                    'created_start' : created_start,
                    'created_end': created_end,
                    'page': page,
                    'page_size': page_size,
                    'template': template
                },
                'dataType' : 'json',
                'content-type' : 'application/json; charset=utf-8',
                success : function(data) {
                    update_works_data(data);
                }
            });
        }

        function update_works_data(data){
            var works_data = data.works;
            var total = data.total;
            var categories = data.categories;
            if (works_data.length == 0) {
                $('#works').html('没有找到匹配的作品信息');
                $('#paging').hide();
                return;
            }
            $('#works').innerHTML = '';
            var page = $('#page_select').val() || 1;
            var page_size = $('#page_size_select').val();
            //var material_html = '<table class="table"><caption>作品列表</caption><thead><tr>';
            var table = document.createElement('table');
            table.className = 'table';
            var caption = document.createElement('caption');
            caption.innerHTML = '作品列表';
            table.appendChild(caption);

            var thead = document.createElement('thead');
            var theadHTML = '<tr>';
            theadHTML += '<th width="5%">序号</th>';
            theadHTML += '<th width="15%">作品</th>';
            theadHTML += '<th width="10%">作品ID</th>';
            theadHTML += '<th width="10%">用户ID</th>';
            theadHTML += '<th width="15%">上传时间</th>';
            theadHTML += '<th width="15%">分类</th>';
            theadHTML += '<th width="20%">操作</th>';
            theadHTML += '</tr>';
            thead.innerHTML = theadHTML;

            table.appendChild(thead);

            var tbody = document.createElement('tbody');
            table.appendChild(tbody);

            //works_data.forEach(function(work) {
            var j = 1;
            for(var i in works_data) {
                var work = works_data[i];
                var tr = document.createElement('tr');
                tr.id = "work_" + j;
                //material_html += '<tr id="work_' + j + '">';

                //material_html += '<td><div>';
                //material_html += j + '</div><input type="hidden" id="work_id_' + (i + 1) + '" value="' + work.id + '"></td>';
                var wid = document.createElement('td');
                wid.innerHTML = '<div>' + j + '</div><input type="hidden" id="work_id_' + (i + 1) + '" value="' + work.id + '">';
                tr.appendChild(wid);

                var video = document.createElement('td');
                var material_html = '';
                material_html += '<a href="' + work.video + '" target="_blank"><video height="128" src="' + work.video + '"';
                //material_html += ' autoplay="autoplay"';
                material_html += ' poster="' + work.thumb + '"';
                material_html += ' loop="loop"></video></a>';
                material_html += '<div><span style="height:20px;background-color:#ccc;"><span style="position:relative;">时长：' + (work.duration / 1000) + 's';
                material_html += '<span style="position:relative;padding-left:30px;">尺寸：' + work.width + ' <b>x</b> ' + work.height + '</span>';
                material_html += '</span></div>';
                video.innerHTML = material_html;
                tr.appendChild(video);

                var workid = document.createElement('td');
                workid.innerHTML = '<div><span>' + work.id + '</span></div>';
                tr.appendChild(workid);

                var author = document.createElement('td');
                author.innerHTML = '<div><span>' + work.author + '</span></div>';
                tr.appendChild(author);

                var created = document.createElement('td');
                created.innerHTML = '<div><span>' + work.created + '</span></div>';
                tr.appendChild(created);

                var categories_names = document.createElement('td');
                categories_names.innerHTML = '<div><span>' + work.categories_names.join(', ') + '</span></div>';
                tr.appendChild(categories_names);

                // actions
                var actions = document.createElement('td');
                var actionsView = document.createElement('div');

                for(var i in categories) {
                    var category = categories[i];
                    //material_html += '<span>' + category['name'] + '</span>';
                    var categoryNameView = document.createElement('span');
                    categoryNameView.innerHTML = category['name'];
                    actionsView.appendChild(categoryNameView);

                    var removeWorkFromCategoryView = document.createElement('button');
                    removeWorkFromCategoryView.className = "btn btn-md btn-danger";
                    removeWorkFromCategoryView.id = 'remove_' + j + '_' + i + '_btn';
                    removeWorkFromCategoryView.setAttribute('index', j + '_' + i);
                    removeWorkFromCategoryView.setAttribute('workid', work['id']);
                    removeWorkFromCategoryView.setAttribute('categoryid', category['id']);
                    removeWorkFromCategoryView.innerHTML = '下架';
                    actionsView.appendChild(removeWorkFromCategoryView);

                    removeWorkFromCategoryView.onclick = function() {
                        remove_work_from_category(this.getAttribute('workid'), this.getAttribute('categoryid'));
                        /*
                        removeWorkFromCategoryView.style.display = 'none';
                        addWorkToCategoryView.style.display = 'inline';
                        stickyWorkToCategoryView.style.display = 'inline';
                        */
                        var i = this.getAttribute('index');
                        $('#add_' + i + '_btn').show();
                        $('#remove_' + i + '_btn').hide();
                        $('#sticky_' + i + '_btn').show();
                    };

                    var addWorkToCategoryView = document.createElement('button');
                    addWorkToCategoryView.className = "btn btn-md btn-primary";
                    addWorkToCategoryView.id = 'add_' + j + '_' + i + '_btn';
                    addWorkToCategoryView.setAttribute('index', j + '_' + i);
                    addWorkToCategoryView.setAttribute('workid', work['id']);
                    addWorkToCategoryView.setAttribute('categoryid', category['id']);
                    addWorkToCategoryView.innerHTML = '加入';
                    addWorkToCategoryView.onclick = function() {
                        add_work_to_category(this.getAttribute('workid'), this.getAttribute('categoryid'));
                        /*
                        removeWorkFromCategoryView.style.display = 'inline';
                        addWorkToCategoryView.style.display = 'none';
                        stickyWorkToCategoryView.style.display = 'none';
                        */
                        var i = this.getAttribute('index');
                        $('#add_' + i + '_btn').hide();
                        $('#remove_' + i + '_btn').show();
                        $('#sticky_' + i + '_btn').hide();
                    };
                    actionsView.appendChild(addWorkToCategoryView);

                    var stickyWorkToCategoryView = document.createElement('button');
                    stickyWorkToCategoryView.className = "btn btn-md btn-success";
                    stickyWorkToCategoryView.id = 'sticky_' + j + '_' + i + '_btn';
                    stickyWorkToCategoryView.setAttribute('index', j + '_' + i);
                    stickyWorkToCategoryView.setAttribute('workid', work['id']);
                    stickyWorkToCategoryView.setAttribute('categoryid', category['id']);
                    stickyWorkToCategoryView.innerHTML = '置顶';
                    actionsView.appendChild(stickyWorkToCategoryView);

                    stickyWorkToCategoryView.onclick = function() {
                        sticky_work_to_category(this.getAttribute('workid'), this.getAttribute('categoryid'));
                        /*
                        removeWorkFromCategoryView.style.display = 'inline';
                        addWorkToCategoryView.style.display = 'none';
                        stickyWorkToCategoryView.style.display = 'none';
                         */
                        var i = this.getAttribute('index');
                        $('#add_' + i + '_btn').hide();
                        $('#remove_' + i + '_btn').show();
                        $('#sticky_' + i + '_btn').hide();
                    };

                    if (work['categories_ids'].indexOf(category['id']) > -1) {
                        removeWorkFromCategoryView.style.display = 'inline';
                        addWorkToCategoryView.style.display = 'none';
                        stickyWorkToCategoryView.style.display = 'none';
                    } else {
                        removeWorkFromCategoryView.style.display = 'none';
                        addWorkToCategoryView.style.display = 'inline';
                        stickyWorkToCategoryView.style.display = 'inline';
                    }

                    /*

                    if (work['categories_ids'].indexOf(category['id']) > -1) {
                        material_html += '<button class="btn btn-md btn-danger" onclick="remove_work_from_category(' + "'" + work['id'] + "', '" + category['id'] + "'" + ');">下架</button>';
                    } else {
                        material_html += '<button class="btn btn-md btn-primary" onclick="add_work_to_category(' + "'" + work['id'] + "', '" + category['id'] + "'" + ');">加入</button>'
                        material_html += '<button class="btn btn-md btn-success" onclick="sticky_work_to_category(' + "'" + work['id'] + "', '" + category['id'] + "'" + ');">置顶</button>'
                    }
                    material_html += '<br/>';
                    */
                    actionsView.appendChild(document.createElement('br'));


                }
                //material_html += actionsView.outerHTML;
                //material_html += '</div>';
                actions.appendChild(actionsView);
                tr.appendChild(actions);

                //material_html += '</td>';

                //material_html += '</tr>';
                tbody.appendChild(tr);

                j++;

            }
            //material_html += '</tbody></table>';
            $('#works').append(table);

            var paging_html = '<span>共找到' + data['total'] + '条记录, 每页' + data['page_size'] + '条, 共' + data['max_page'] + '页</span>';
            for(var i = 0; i < data['pages'].length; i++) {
                if (data['pages'][i] != '...' && data['pages'][i] != data['page']) {
                    paging_html += '<a href="javascript:search_works(' + "'" + data['pages'][i] + "'" + ');">' + data['pages'][i] + '</a>';
                } else {
                    paging_html += '<span>' + data['pages'][i] + '</span>';
                }
            }
            $('#paging').html(paging_html);
            $('#pagingWrapper').show();
        }

        function remove_work_from_category(work_id, category_id){
            $.ajax({
                'url' : '/work/remove_work_from_category?work_id=' + work_id + '&category_id=' + category_id,
                'type' : 'GET',
                'dataType' : 'json',
                success : function(data) {
                    if (data.code == 0) {
                        //search_works('1');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

        function add_work_to_category(work_id, category_id){
            $.ajax({
                'url' : '/work/add_work_to_category?work_id=' + work_id + '&category_id=' + category_id,
                'type' : 'GET',
                'dataType' : 'json',
                success : function(data) {
                    if (data.code == 0) {
                        //search_works('1');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
        function sticky_work_to_category(work_id, category_id){
            $.ajax({
                'url' : '/work/sticky_work_to_category?work_id=' + work_id + '&category_id=' + category_id,
                'type' : 'GET',
                'dataType' : 'json',
                success : function(data) {
                    if (data.code == 0) {
                        //search_works('1');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

    </script>


{% endblock %}

{% block 'content' %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_home' %}">首页</a></li>
        <li class="active">作品分类管理</li>
    </ol>

    <form id="form" data-toggle="validator">
        {% csrf_token %}

        <!--<div class="form-group col-md-12">-->
            <!--<div class="col-md-4"><a class="btn btn-primary" href="{% url 'recommend_works' %}">查看推荐作品</a> </div>-->
        <!--</div>-->

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <label class="col-md-3">时间</label>
                <input type="text" id="created_start" name="created_start" data-date-format="yyyy-mm-dd" class="datetimepicker col-md-3" />
                <span class="col-md-1 center">_</span>
                <input type="text" id="created_end" name="created_end" data-date-format="yyyy-mm-dd" class="datetimepicker col-md-3" />
            </div>

            <div class="col-md-4">
                <label class="col-md-4">模板：</label>
                <select id="template" name="template" class="select col-md-6 form-leo">
                    <option value="">全部</option>
                    {% for template in templates %}
                        <option value="{{ template.id }}">{{ template.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button type="button" id="search-works" class="btn btn-md btn-primary" onclick="search_works('1');">查找</button>
            </div>
        </div>

    </form>
    <div>
        <div id="works"></div>

        <div id="pagingWrapper" style="display: none;">

            <div class="col-md-3">
                <label class="col-md-4">每页大小：</label>
                <select class="col-md-6 select form-leo" id="page_size_select" onchange="search_works('1');">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div id="paging" class="col-mod-9">

            </div>
        </div>

    </div>


{% endblock %}
