<div style="float: left; position: absolute;width: 100%;">

    <div class="panel-group" id="accordion1">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_works">作品管理</a>
                </h4>
            </div>
            <div id="collapse_works" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_works' %}">
                   查看作品
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_templates">模板管理</a>
                </h4>
            </div>
            <div id="collapse_templates" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_template' %}">
                   查看模板
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'add_template' %}">
                   添加模板
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'list_template_categories' %}">
                   模板分类
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_categories">分类管理</a>
                </h4>
            </div>
            <div id="collapse_categories" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_work_categories' %}">
                   查看分类
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'manage_work_categories' %}">
                   分类作品
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_banner">Banner管理</a>
                </h4>
            </div>
            <div id="collapse_banner" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_banner' %}">
                   查看Banner
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'add_banner' %}">
                   添加Banner
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_merchandise">商品管理</a>
                </h4>
            </div>
            <div id="collapse_merchandise" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_merchandise' %}">
                   查看商品
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'add_merchandise' %}">
                   添加商品
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_user">用户管理</a>
                </h4>
            </div>
            <div id="collapse_user" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_users' %}">
                   查看用户
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_recharge_consume">充值消费</a>
                </h4>
            </div>
            <div id="collapse_recharge_consume" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_pay_journals' %}">
                   充值记录
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'list_consume_journals' %}">
                   消费记录
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_message">消息管理</a>
                </h4>
            </div>
            <div id="collapse_message" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_comments' %}">
                   查看消息
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_version_config">版本配置</a>
                </h4>
            </div>
            <div id="collapse_version_config" class="panel-collapse collapse">
                <div class="accordion-inner panel-body ripple" href="{% url 'list_version' %}">
                   版本管理
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'list_api_config' %}">
                   配置管理
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'list_activity' %}">
                   活动管理
                </div>
                <div class="accordion-inner panel-body ripple" href="{% url 'list_index_ad' %}">
                   插屏广告管理
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar .ripple").click(function(){
                var self = $(this);
                setTimeout(function(){
                   window.location.href=self.attr("href");
                }, 100);
            });
        });
      </script>